# Auth Secret
AUTH_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Database
DATABASE_URL=

# Server 
NEXT_PUBLIC_HOST_URL=
HOST_URL=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

STRIPE_WEBHOOK_SECRET=